In [1]:
# The code was removed by Watson Studio for sharing.

,ID,Sex,Status,Children,Est_Income,Car_Owner,Usage,Age,RatePlan,LongDistance,International,Local,Dropped,Paymethod,LocalBilltype,LongDistanceBilltype,CHURN
0,1,F,S,1,38000.00,N,229.64,24.393333,3,23.56,0.0,206.08,0,CC,Budget,Intnl_discount,Cancelled
1,6,M,M,2,29616.00,N,75.29,49.426667,2,29.78,0.0,45.50,0,CH,FreeLocal,Standard,Current
2,8,M,M,0,19732.80,N,47.25,50.673333,3,24.81,0.0,22.44,0,CC,FreeLocal,Standard,Current
3,11,M,S,2,96.33,N,59.01,56.473333,1,26.13,0.0,32.88,1,CC,Budget,Standard,Current
4,14,F,M,2,52004.80,N,28.14,25.140000,1,5.03,0.0,23.11,0,CH,Budget,Intnl_discount,Cancelled

In [2]:
df_data_1.describe()

,ID,Children,Est_Income,Usage,Age,RatePlan,LongDistance,International,Local,Dropped
count,2070.000000,2070.000000,2070.000000,2070.000000,2070.000000,2070.000000,2070.000000,2070.000000,2070.000000,2070.000000
mean,1901.151691,1.147826,51464.262406,75.855063,42.798081,2.509662,16.129338,1.207295,59.080812,0.135749
std,1094.709118,0.843124,30796.680570,59.741635,14.883739,1.125157,9.866626,2.625421,57.542526,0.526189
min,1.000000,0.000000,96.330000,0.680000,12.326667,1.000000,0.000000,0.000000,0.680000,0.000000
25%,972.250000,0.000000,21084.700000,34.250000,30.886667,2.000000,8.090000,0.000000,15.200000,0.000000
50%,1874.000000,1.000000,55860.000000,57.110000,45.526667,2.000000,16.140000,0.000000,39.620000,0.000000
75%,2832.000000,2.000000,78000.000000,107.020000,54.013333,4.000000,22.990000,0.000000,87.460000,0.000000
max,3825.000000,2.000000,120000.000000,361.880000,77.000000,4.000000,59.000000,9.700000,332.460000,4.000000